
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #3c3c3c;
  margin-bottom: 10%;
}

/* 시계 */
#clock {
  background: url(../image/menu-bg.png) repeat;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 100%;
  text-align: center;
}
#clock #nowTimes a {
  display: block;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #0d0d0d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
/* 시계 끝 */

/* nav 시작 */
.nav {
  position: fixed;
  top: 105px;
  left: 1.5%;
  bottom: 1.5%;
  width: 0px;
  border-radius: 10px;
  box-sizing: initial;
  background: #4d5bf9;
  transition: width 0.5s;
  overflow-x: hidden;
}
.nav.active {
  width: 255px;
}
.nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5%;
  padding-top: 40px;
}
.nav ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav ul li.active {
  background: #fff;
}
.nav ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.nav ul li b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5bf9;
}
.nav ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.nav ul li b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #4d5bf9;
}
.nav ul li.active b:nth-child(1),
.nav ul li.active b:nth-child(2) {
  display: block;
}
.nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.nav ul li.active a {
  color: #333;
}
.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.nav ul li a .icon ion-icon {
  font-size: 1.5em;
}
.nav ul li a .title {
  position: relative;
  display: block;
  padding-left: 7px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle.active {
  background: #ff4d89;
}
.toggle ion-icon {
  position: absolute;
  color: #fff;
  font-size: 34px;
  display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close {
  display: block;
}
.toggle.active ion-icon.open,
.toggle ion-icon.close {
  display: none;
}
/* nav 끝 */

.main {
  color: white;
  margin-top: 50px;
  text-align: center;
}