
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <h1><%- data.text %></h1>
    </div>
  </body>
</html>
