
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
    <title><%- title %></title>
    <script src="../js/check.js"></script>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <div class="title">
        <p>
          자동 자가진단 사이트 입니다.
          <br><br>
          <% if (login) { %>
            왼쪽 메뉴 -> 자가진단 을 눌러
            <br>
            자동 자가진단 서비스를 이용해보세요.
          <% } else { %>
            로그인후 서비스를 이용해주세요.
          <% } %>
        </p>
      </div>
      <div class="iframe">
        <iframe class="frame" src="/api/covid" name="frame" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </body>
</html>
