
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <div class="login">
        <form action="/login" method="POST">
          <p class="text">아이디</p><input class="box" type="text" name="id" required/><br/>
          <p class="text">비밀번호</p><input class="box" type="password" name="pw" required/><br/>
          
          <input class="btn" type="submit" value="로그인"/>
        </form>
      </div>
      <div class="btn">
        <button type="button" class="btn" onclick="javascript=location.href='/searchid'">아이디 찾기</button><br>
        <button type="button" class="btn" onclick="javascript=location.href='/signup'">회원가입</button>
      </div>
    </div>
  </body>
</html>
